{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": ["./tsconfig.json"]
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": ["error", {
        "ignoreParameters": true,
        "ignoreProperties": false
    }],
    "class-methods-use-this": "off"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended"
  ]
}