@use '../../vars';
@import url('../../assets/icons/FluentSystemIcons-Filled_Selected.css');

.stopwatch__controls, .stopwatch__countdowns {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 290px;

  margin: auto;
  margin-top: 20px;

  @media (max-width: vars.$mobile-max-width) {
    width: 250px;
  }
}

.stopwatch__countdowns {
  transition: opacity 100ms ease;
}

.stopwatch__countdowns--hidden {
  opacity: 0;
}