<div class="stopwatch__toolbar">
  <div class="stopwatch__controls">
    <button class="button" id="pick-countdown">
      <img class="button__icon" src="./assets/icons/ic_fluent_time_picker_24_filled.svg" alt="Pick countdown"
        title="Pick countdown"></img>
    </button>
    <button class="button" id="pause">
      <img class="button__icon" src="./assets/icons/ic_fluent_pause_24_filled.svg" alt="Pause" title="Pause">
    </button>
    <button class="button button--state-success" id="play">
      <img class="button__icon" src="./assets/icons/ic_fluent_play_24_filled.svg" alt="Play" title="Play">
    </button>
    <button class="button button--state-danger" id="stop">
      <img class="button__icon" src="./assets/icons/ic_fluent_stop_24_filled.svg" alt="Stop" title="Stop">
    </button>
  </div>
  <div class="stopwatch__countdowns">
    <button class="button" id="countdown-2">2</button>
    <button class="button" id="countdown-5">5</button>
    <button class="button" id="countdown-10">10</button>
    <button class="button" id="countdown-30">30</button>
  </div>
</div>