<div class="stopwatch__toolbar">
  <div class="stopwatch__controls">
    <button class="button" type="button" id="pick-countdown">
      <i class="button__icon icon-ic_fluent_time_picker_24_filled" Title="Pause"></i>
    </button>
    <button class="button" type="button" id="pause">
      <i class="button__icon icon-ic_fluent_pause_24_filled" Title="Pause"></i>
    </button>
    <button class="button button--state-success" type="button" id="start">
      <i class="button__icon icon-ic_fluent_play_24_filled" Title="Pause"></i>
    </button>
    <button class="button button--state-danger" type="button" id="stop">
      <i class="button__icon icon-ic_fluent_stop_24_filled" Title="Pause"></i>
    </button>
  </div>
  <div class="stopwatch__countdowns stopwatch__countdowns--hidden"></div>
</div>