<div class="stopwatch__toolbar">
  <div class="stopwatch__controls">
    <button class="button" id="pick-countdown">
      <img class="button__icon" src="../../../assets/icons/ic_fluent_time_picker_24_filled.svg" alt="Pick countdown"
        title="Pick countdown"></img>
    </button>
    <button class="button" id="pause">
      <img class="button__icon" src="../../../assets/icons/ic_fluent_pause_24_filled.svg" alt="Pause" title="Pause">
    </button>
    <button class="button button--state-success" id="start">
      <img class="button__icon" src="../../../assets/icons/ic_fluent_play_24_filled.svg" alt="Start" title="Start">
    </button>
    <button class="button button--state-danger" id="stop">
      <img class="button__icon" src="../../../assets/icons/ic_fluent_stop_24_filled.svg" alt="Stop" title="Stop">
    </button>
  </div>
  <div class="stopwatch__countdowns stopwatch__countdowns--hidden"></div>
</div>